# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name-
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [11]:
for i in range(1,11):
    print(i)
    list1=[]
    list1.append(i**2)
    print(list1)

1
[1]
2
[4]
3
[9]
4
[16]
5
[25]
6
[36]
7
[49]
8
[64]
9
[81]
10
[100]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of the list.
* 5 + 3 = 8 points

In [17]:
import random
list3=[]
for i in range (0, 10):
    list3.append(random.randint(0, 100))
print(list3)

[84, 12, 24, 25, 42, 40, 57, 40, 64, 61]

In [19]:
min(list3)

12

In [20]:
max(list3)

84

In [21]:
sum(list3)

449

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [22]:
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]

In [23]:
print(new_list[2])

day

In [25]:
print(new_list[1][1])

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [28]:
college=("Bellarmine","2001 Newburg Rd")
print("The name of the college is", college[0])

The name of the college is Bellarmine

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [30]:
data=int(input("Please enter your age: "))
if data<=17:
    print("You are a minor.")
elif data>=18:
    print("You are of legal age.")
else:
    print("Invalid input")

Please enter your age: 19
You are of legal age.

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [31]:
number=int(input("Enter a number: "))
if number%2!=0:
    if number>10:
        print("Your number is odd and is greater than 10.")
    else:
        print("Your number is odd but not greater than 10.")
else:
    print("Your number is even.")

Enter a number: 19
Your number is odd and is greater than 10.

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [33]:
number2=int(input("Enter a number: "))
if number2%11==0:
    print("Your number is a multiple of 11.")
else:
    print("Your number is not a a multiple of 11.")

Enter a number: 121
Your number is a multiple of 11.

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [58]:
keys =  [10, 20, 30]
values =['Ten', 'Twenty', 'Thirty']

In [62]:
dict1={10:"Ten",20:"Twenty",30:"Thrity"}

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [64]:
def maximum(*args):
    data=[]
    for item in args:
        data.append(item)
    return max(data)

In [65]:
maximum(2,1,4,5,10)

10

In [66]:
maximum(10,320,45,6,8234,94)

8234

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [69]:
def area(x,y):
    return x*y
def perimeter(x,y):
    return 2*x+2*y

In [70]:
area(2,5)

10

In [71]:
perimeter(9,10)

38

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [73]:
for i in range(10,21):
    list6=[]
    list6.append(i)
    print(list6)

[10]
[11]
[12]
[13]
[14]
[15]
[16]
[17]
[18]
[19]
[20]

In [74]:
list7=range(10,21)
print(list(list7))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]